- title "Login"

= form_tag sessions_path do
  .control-group
    .control-label= label_tag :email
    .controls= text_field_tag :email, params[:email]
  .control-group
    .control-label= label_tag :password
    .controls= password_field_tag :password, nil
  .form-actions
    = submit_tag "Login", class: "btn btn-primary"

