%div.media.media-article{ id: "comment_#{comment.id}" }
  = link_to '#', class: "pull-left" do
    = image_tag "pfp_logo_icon.jpg", class: "media-object"
  %div.media-body
    %h4.media-heading
      = comment.title
      .pull-right
        - if can? :report, comment
          = link_to t('.report'), '#', class: 'btn btn-mini btn-danger'
    %strong.author_name= comment.user.try(:name)
    %code.author_email= comment.user.try(:email)
    %div
      - if comment.updated_at?
        %section.inline.updated_at= l(comment.updated_at, format: :short)
      - if comment.created_at?
        %section.inline.created_at= l(comment.created_at, format: :short) if comment.created_at?
    %div.media{ id: "my_comment_content_#{comment.id}" }= to_markdown(comment.content)
    %div{ id: "comment_actions_#{comment.id}" }
      .btn-group
        - if can? :like, comment
          = link_to t('.like'), '#', class: 'btn btn-small btn-primary'
        - if can? :reply, comment
          = link_to t('.reply'), reply_article_comment_path(@article.to_param, comment.id), remote: true, class: 'btn btn-small btn-success'
        - if can? :edit, comment
          = link_to t('.edit'), edit_article_comment_path(@article.to_param, comment.id), remote: true, class: 'btn btn-small btn-warning'
        - if can? :destroy, comment
          = link_to t('.destroy'), admin_article_comment_path(@article.to_param, comment.id), class: 'btn btn-small btn-danger', data: { remote: true, method: 'delete', confirm: t('.confirm', default: t("helpers.links.confirm")) }
    - comment.children.each do |child_comment|
      = render "comments/comment", comment: child_comment
    %div{ id: "last_reply_comment_#{comment.id}"}
