= simple_form_for [:admin, @article], html: { class: 'form-horizontal', multipart: true } do |f|
  = f.input :title


  = f.input :permalink do
    = f.input_field :permalink
    %span
      = link_to '#', class: 'btn btn-success', id: 'automagic_permalink', title: t(".automagic_permalink"), rel: 'tooltip', data: { placement: 'right' } do
        %i.icon-star.icon-white
        %span.addon
  = f.input :excerpt, as: :text, input_html: { rows: 10, class: "span9" }
  = f.input :content, as: :text, input_html: { rows: 25, class: "span9" }
  = f.input :tag_list, hint: t('.tag_list_hint')
  = f.simple_fields_for :icon do |icon_builder|
    = icon_builder.input :attachment, as: :file, label: t(".icon")
  - if @article.try(:icon).present? && @article.try(:icon).persisted?
    - @article.try(:icon).tap do |icon|
      .control-group{ id: "icon_#{icon.id}" }
        .control-label= t(".icon")
        .controls
          = link_to "#", data: { target: '#', placement: "right", title: icon.pretty_filename, content: icon.url }, class: "pop" do
            = image_tag icon.url(:thumb), class: 'img-polaroid'
          %div= link_to t(".delete_icon"), admin_article_icon_path(icon.assetable.to_param, icon), remote: true, method: :delete, confirm: t(".confirm_delete_icon")
  - @article.images.each do |image|
    .control-group{ id: "image_#{image.id}" }
      .control-label= t(".images")
      .controls
        = link_to "#", data: { target: '#', placement: "right", title: image.pretty_filename, content: image.url }, class: "pop" do
          = image_tag image.url(:thumb), class: 'img-polaroid'
        %div= link_to t(".delete_image"), admin_article_image_path(image.assetable.to_param, image), remote: true, method: :delete, confirm: t(".confirm_delete_image")
  .control-group
    .control-label
    .controls= link_to_add_fields t(".add_image"), f, :images
  .form-actions
    - if can?([:create, :update], @article)
      = f.button :submit, class: 'btn-primary'
    - if can?(:index, @article)
      = link_to t('.cancel', default: t("helpers.links.cancel")), articles_path, class: 'btn'
