- title t('.title')
.page-header
  %div
    %h3.inline= t '.title'
    .calendar-widget.inline
      = link_to admin_articles_path, rel: 'tooltip', title: t('.list_view') do
        %i.icon-list
        (list)

- content_for(:sidebar) do
  - if can? :create, Article
    = link_to new_admin_article_path, class: "btn btn-success btn-small btn-block" do
      %i.icon-list-alt.icon-white
      %span.addon= t('.new', default: t('helpers.links.new'))
  = link_to '#', class: "btn btn-small btn-block" do
    %i.icon-envelope
    %span.addon Inbox
  = link_to '#', class: "btn btn-small btn-block" do
    %i.icon-user
    %span.addon My Profile

%div#articles
  %h2#month
    %div= @date.strftime("%B %Y")
    = link_to "<", date: @date.prev_month
    = form_tag nil, method: :get, id: 'calendar-datepicker', class: 'inline' do
      = text_field_tag :date, @date, class: 'datepicker'
    = link_to ">", date: @date.next_month
  = calendar @date do |date|
    = date.day
    - if @articles_by_date[date]
      %ul
      - @articles_by_date[date].each do |article|
        %li= link_to article.title, article