- title t('.title')
.page-header
  %div
    %h3.inline= t '.title'
    .calendar-widget.inline
      = link_to calendar_admin_articles_path, rel: 'tooltip', title: t('.calendar_view') do
        %i.icon-calendar
        (calendar)

- content_for :kaminari_per_page do
  = form_tag nil, class: "inline", method: :get do
    = select_tag :per_page, options_for_select(article_per_page_options, selected: params[:per_page]), id: "article_per_page"

- content_for(:sidebar) do
  - if can? :create, Article
    = link_to new_admin_article_path, class: "btn btn-success btn-small btn-block" do
      %i.icon-list-alt.icon-white
      %span.addon= t('.new', default: t('helpers.links.new'))
    = link_to '#', class: "btn btn-small btn-block" do
      %i.icon-envelope
      %span.addon Inbox
    = link_to '#', class: "btn btn-small btn-block" do
      %i.icon-user
      %span.addon My Profile

#admin_article_controls.btn-toolbar
  .btn-group
    = link_to t(".show_all"), admin_articles_path, class: "btn #{active(:published, nil, {missing: :true})}"
    = link_to t(".show_published"), params.merge(published: :true), class: "btn #{active(:published, 'true')}"
    = link_to t(".show_drafts"), params.merge(published: :false), class: "btn #{active(:published, 'false')}"

= paginate @articles

- @articles.each do |article|
  - current_cycle = cycle("odd", "even")
  = render article, current_cycle: current_cycle

= paginate @articles
