- title t('.title')
.page-header
  %h3= t '.title'

- content_for(:sidebar) do
  - if can? :create, Article
    = link_to new_article_path, class: "btn btn-success btn-small btn-block" do
      %i.icon-list-alt.icon-white
      %span.addon= t('.new', default: t('helpers.links.new'))
    = link_to '#', class: "btn btn-small btn-block" do
      %i.icon-envelope
      %span.addon Inbox
    = link_to '#', class: "btn btn-small btn-block" do
      %i.icon-user
      %span.addon My Profile

= paginate @articles

- @articles.each do |article|
  = render article

= paginate @articles
