%tr
  .article_partial.well
    .row-fluid
      %h3.art_title
        = link_to article.title, article
        %button.close &times;
      - unless article.tag_list.blank?
        %dl
          %dt.pull-left= Article.human_attribute_name(:tag_list)
          %dd.pull-left= raw article.tag_list.map { |t| link_to t, tag_articles_path(t) }.join(", ")
    .row-fluid
      .span4
        .art_header
          %h1.big_arrow= "&#8627".html_safe
          %h3.author= article.try(:user).try(:name)
          %h5.published_at= l(article.published_at, format: :short) if article.published_at?
          %h5.updated_at= l(article.updated_at, format: :short) if article.updated_at?
      .lead.art_excerpt.span7= to_markdown(article.excerpt)
