%div.media{ class: "#{muted(article, :published_at)} media-article" }
  = link_to article, class: "pull-left" do
    = image_tag "pfp_logo_icon.jpg", class: 'media-object'
  %div.media-body
    %h4.media-heading
      = link_to article.title, article, class: muted(article, :published_at)
      %div.comments_count.inline
        %i.icon-comment
        = pluralize article.comments.size, 'comment'
      %button.close &times;
    %div
      %code.author= article.try(:user).try(:name)
      - if article.published_at?
        %section.inline.published_at= l(article.published_at, format: :short)
      - if article.updated_at?
        %section.inline.updated_at= l(article.updated_at, format: :short) if article.updated_at?
      .excerpt= to_markdown(article.excerpt)
    - unless article.tag_list.blank?
      %ul.breadcrumb.tag-list
        - article.tag_list.each do |tag|
          %li
            = link_to tag, tag_articles_path(tag), class: muted(article, :published_at)
            - unless tag == article.tag_list.last
              %span.divider /
