= simple_form_for @article, html: { class: 'form-horizontal' } do |f|
  = f.input :title
  = f.input :content
  = f.input :publish, as: :boolean, input_html: { checked: @article.published_at? }
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), articles_path, class: 'btn'
