- title t('.title')
.page-header
  %div
    %h3.inline= t '.title'
    .calendar-widget.inline
      = link_to articles_path, rel: 'tooltip', title: t('.list_view') do
        %i.icon-list
        = t(".list")

- if current_user
  - content_for(:sidebar) do
    = link_to dashboard_my_path, class: "btn btn-small btn-block" do
      %i.icon-home
      %span.addon= t("my.my_dashboard")
    - if can? :edit, current_user
      = link_to edit_my_profile_path, class: "btn btn-small btn-block" do
        %i.icon-user
        %span.addon= t("my.my_profile")

%div#articles
  %h2#month
    %div= @date.strftime("%B %Y")
    = link_to "<", date: @date.prev_month
    = form_tag nil, method: :get, id: 'calendar-datepicker', class: 'inline' do
      = text_field_tag :date, @date, class: 'datepicker'
    = link_to ">", date: @date.next_month
  = calendar @date do |date|
    = date.day
    - if @articles_by_date[date]
      %ul
      - @articles_by_date[date].each do |article|
        %li
          = link_to article, data: { remote: true, toggle: "modal", target: "#articleCalendarModal" } do
            = article.title

= render "calendar_modal"