- title t('.title')
.page-header
  %div
    %h3.inline= t '.title'
    .calendar-widget.inline
      = link_to calendar_articles_path, rel: 'tooltip', title: t('.calendar_view') do
        %i.icon-calendar
        (calendar)

- if current_user
  - content_for(:sidebar) do
    = link_to '#', class: "btn btn-small btn-block" do
      %i.icon-envelope
      %span.addon Inbox
    = link_to '#', class: "btn btn-small btn-block" do
      %i.icon-user
      %span.addon My Profile

= paginate @articles

- @articles.each do |article|
  = render article

= paginate @articles