- title t('.title')
.page-header
  %div
    %h3.inline= t '.title'
    .calendar-widget.inline
      = link_to calendar_articles_path, rel: 'tooltip', title: t('.calendar_view') do
        %i.icon-calendar
        = t(".calendar")

- content_for :kaminari_per_page do
  = form_tag nil, class: "inline", method: :get do
    = select_tag :per_page, options_for_select(article_per_page_options, selected: params[:per_page]), id: "article_per_page"

- if current_user
  - content_for(:sidebar) do
    = link_to '#', class: "btn btn-small btn-block" do
      %i.icon-envelope
      %span.addon= t("my.inbox")
    = link_to '#', class: "btn btn-small btn-block" do
      %i.icon-user
      %span.addon= t("my.my_profile")

= paginate @articles

- @articles.each do |article|
  = render article

= paginate @articles