- title t '.title', article_title: @article.title
.page-header
  %h3=t '.title', article_title: @article.title

.row-fluid
  .art_header.span4
    %h1.big_arrow= "&#8627".html_safe
    %h3.author= @article.try(:user).try(:name)
    %h5.pull-left.published_at= l(@article.published_at, format: :short) if @article.published_at?
    %h5.pull-left.updated_at= l(@article.updated_at, format: :short) if @article.updated_at?
  .span8
    .well.lead.art_excerpt= to_markdown(@article.excerpt)
.row-fluid
  .art_content.clearfix= to_markdown(@article.content)
