- title t '.title'
.page-header
  %h3= t '.title'

.row-fluid
  = form_tag nil, method: :get, class: 'form-search' do
    .control-group
    .controls
      = text_field_tag :query, params[:query], placeholder: t(".search_taggings"), class: 'input-medium search-query'
      = submit_tag t(".search"), class: 'btn btn-success'

- if @tags.present?
  = paginate @tags

  %table.table.table-striped
    %thead
      %tr
        %th Tag Name
        %th Occurences
    %tbody
    - @tags.each do |tag|
      %tr
        %td= link_to tag.name, tag_articles_path(tag.name)
        %td= tag.published_taggings_count
