= f.input :first_name
= f.input :last_name
= f.input :email
= f.input :password
= f.input :password_confirmation
.form-actions
  = f.button :submit, @user.new_record? ? t('.submit') : t('.update_my_profile'), class: 'btn-primary'
  = link_to t('.cancel', default: t("helpers.links.cancel")), users_path, class: 'btn'
