- title t('.title')
.page-header
  %h3=t '.title'

- content_for(:sidebar) do
  - if can? :create, User
    = link_to new_user_path, class: "btn btn-success btn-small btn-block" do
      %i.icon-user
      %span.addon= t('.new', default: t("helpers.links.new"))

%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name(:last_name)
      %th= User.human_attribute_name(:first_name)
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:created_at)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - @users.each do |user|
      = render user
