- title t '.title', name: @user.name
.page-header
  %h3=t '.title', name: @user.name

- content_for(:sidebar) do
  = link_to users_path, class: 'btn btn-small btn-block' do
    %i.icon-arrow-left.icon-white
    %span.addon= t('.back', default: t("helpers.links.back"))

  = link_to edit_user_path(@user), class: 'btn btn-warning btn-small btn-block' do
    %i.icon-edit.icon-white
    %span.addon= t('.edit', default: t("helpers.links.edit"))

  - if current_user == @user
    = link_to "#", disabled: true, class: 'btn btn-danger btn-small btn-block pop', data: { placement: "left", title: t('.delete_user_title'), content: t('.delete_user_content') } do
      %i.icon-remove.icon-white
      %span.addon= t('.destroy', default: t("helpers.links.destroy"))
  - else
    = link_to user_path(@user), method: :delete, data: { confirm: t('.confirm', default: "helpers.links.confirm") }, class: 'btn btn-danger btn-small btn-block' do
      %i.icon-remove.icon-white
      %span.addon= t('.destroy', default: t("helpers.links.destroy"))

%p
  %strong= User.human_attribute_name(:first_name) + ':'
  %br
  = @user.first_name
%p
  %strong= User.human_attribute_name(:last_name) + ':'
  %br
  = @user.last_name
%p
  %strong= User.human_attribute_name(:email) + ':'
  %br
  = @user.email
